

h1 {
  animation: fadeIn 1.5s ease-in-out;
}

.header {
  background-color: white;
}

body {
  background-color: #8FBC8F;
}

.navbar {
  padding: 10px 20px;
}

.row {
  margin-top: 80px; 
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes boopAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-boop {
  animation: boopAnimation 1.5s infinite; 
}
